@model WebSchoolAppUI.Models.CentrosEducativo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Centro</h1>

<h4>Centros Educativos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoCentro" class="control-label">Tipo de Centro</label>
                <select asp-for="IdTipoCentro" class ="form-control" asp-items="ViewBag.IdTipoCentro"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdDistrito" class="control-label">Distrito</label>
                <select asp-for="IdDistrito" class ="form-control" asp-items="ViewBag.IdDistrito"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
