@model WebSchoolAppUI.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Una vez eliminado no podrá ser recuperado el departamento</h1>

<h3>¿Estás seguro de que deseas eliminarlo?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Centro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCentroNavigation.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDepartamento" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style="background-color: #dc3545a6;" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
