@{
    ViewData["Title"] = "Configuration";
}


<body >
    <nav style="margin-top:20px" class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Cargar Documento</a>
        <form class="form-inline" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Configuracion">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="files" multiple />
                </div>
            </div>

            <div class="form-group " hidden>
                <div class="col-md-10" >
                    <input type="number" name="idCentro" value="@User.Claims.FirstOrDefault(c => c.Type == "CentroId").Value"  />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
            <select class="custom-select" name="years" id="years">
                <option value="2019-2020">2019-2020</option>
                <option value="2020-2021">2020-2021</option>
                <option value="2021-2022">2021-2022</option>
                <option value="2022-2023">2022-2023</option>
            </select>
        </form>
           





    </nav>
    <div style="margin-top:30px" class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">DataSource</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cantidad de Registro</th>
                    <th scope="col">Registros Cargados</th>
                    <th scope="col">Registros No Cargados</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>ExcelEstudiantes2020</td>
                    <td>10/5/2022</td>
                    <td>400</td>
                    <td>380</td>
                    <td>20</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ExcelEstudiantes2021</td>
                    <td>10/5/2022</td>
                    <td>450</td>
                    <td>440</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ExcelEstudiantes2022</td>
                    <td>10/5/2022</td>
                    <td>475</td>
                    <td>460</td>
                    <td>15</td>
                </tr>
               
            </tbody>
        </table>

    </div>

</body>