@{
    ViewData["Title"] = "Gestion";
}


<body>
    <div>

        <div class="d-flex justify-content-between align-content-center">
            <div class="card p-2" style="width: 18rem;">
                <img src="~/img/Estudiante.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Gestion de Estudiantes</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>


            <div class="card p-2" style="width: 18rem;">
                <img src="~/img/Profesor2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maestros</h5>
                    <p class="card-text">Gestion de Maestros</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>

            <div class="card p-2" style="width: 18rem;">
                <img src="~/img/Calificacion.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Calificacion</h5>
                    <p class="card-text">Gestion de Calificacion</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>



        </div>
        
        <div>



        </div>

    </div>
</body>