@{
    ViewData["Title"] = "Reportes";
}

<body>

    <div class="d-flex">


        <div class="card" style="width: 18rem;">
            <img src="~/img/test1.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reporte ....</h5>
                <p class="card-text">Reporte de tal y tal</p>
                <a href="#" class="btn btn-primary">Ir</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/test1.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reporte ....</h5>
                <p class="card-text">Reporte de tal y tal</p>
                <a href="#" class="btn btn-primary">Ir</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/test1.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reporte ....</h5>
                <p class="card-text">Reporte de tal y tal</p>
                <a href="#" class="btn btn-primary">Ir</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/test1.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reporte ....</h5>
                <p class="card-text">Reporte de tal y tal</p>
                <a href="#" class="btn btn-primary">Ir</a>
            </div>
        </div>


    </div>
    
</body>